<div class="d-flex flex-column h-100 justify-content-center" ng-controller="task1Controller">
    <form class="h-50 d-flex flex-column form-page">
        <div class="form-group row">
            <label class='col-md-3 col-form-label text-right'>Search Tax Symbols</label>
            <div class='col-md-7'>
                <input type="text" class="form-control" ng-model="symbol">
            </div>
            <input type='button' ng-click='onSearchBtnClick(symbol)' class='btn btn-primary' value='Search'>
        </div>

        <!--tutaj tak samo jak w kontrolerze jeżeli chodzi o operatory porównania-->
        <ul ng-if="symbols.length >= 0" class="list-group">
            <li class="list-group-item" ng-repeat="taxSymbol in symbols">{{taxSymbol.value}}</li>
        </ul>
        <ul ng-if="symbols.length === 0" class="list-group">
            <li class="list-group-item">Tax Symbols {{symbols}}</li>
        </ul>
    </form>
</div>