<div class="d-flex flex-column h-100 justify-content-center align-items-center" ng-controller="task2Controller">
    <form class="d-flex flex-column w-100">
        <div class="form-group row">
            <label class='col-md-2 col-form-label text-right'>Iban:</label>   
            <div class='col-md-8' >
                <input type='text' class='form-control' ng-model='ibanString' iban-valid iban="iban" ng-pattern="onlyNumbers" data-method="ibanValid"/>
            </div>
            <input type='button' ng-click='iban.validationIban(ibanString)' class='btn btn-primary' value='Submit'>
            <div class="col-12 text-center">Iban valid:{{isValid}}</div>

        </div>

    </form>

    <form class="d-flex flex-column w-100" name="ibanExampleForm">
        <h2>Example:</h2>
        <div class="form-group row">
            <label class='col-md-2 col-form-label text-right' for="iban">Iban:</label>
            <div class='col-md-8' >
                <input type='text' id="iban" name="iban" class='form-control' ng-model='ibanString2' iban-valid-example/>
            </div>

            <div class="col-12 text-center">Iban valid: {{ibanExampleForm.iban.$valid}}</div>
            <p>Tutaj widać fajne propercje do wykorzystania:</p>
            <div class="col-12">
                <pre style="background-color: #fff">{{ibanExampleForm.iban | json}}</pre>
            </div>
        </div>

    </form>

</div>